[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
primesense = "*"
pytest = "*"
flask = "*"
mttkinter = "*"
pillow = "*"
scipy = "*"
tornado = "*"
redis = "*"
naked = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
