
<img src="assets/images/icons8-settings-filled-50.png" alt="" class="circle gear-img"> 

<button class="btn menu-button" [routerLink]="['/']" routerLinkActive="active">
  <img src="assets/images/icons8-home-page-48.png" class="btn-image"> 
</button>
<button class="btn menu-button" [routerLink]="['/touch']">
  <img src="assets/images/icons8-natural-user-interface-2-48.png" class="btn-image">
</button>
<button class="btn menu-button" [routerLink]="['/tts']">
  <img src="assets/images/icons8-voice-48.png"  class="btn-image">
</button>
<button class="btn menu-button" [routerLink]="['/storage']" >
  <img src="assets/images/icons8-database-48.png" class="btn-image">
</button>
<button class="btn menu-button" [routerLink]="['/telegram']" >
  <img src="assets/images/icons8-telegram-app-48.png" class="btn-image">
</button>
