<div class="row header">
  <div class = "col s12">
     <h2 class="title">Configuración de Luna - Telegram</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate" value="5002">
          <label for="last_name">Puerto del Servicio</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate" value="570273399:AAFgp5nSG2SNOD9bRuuVB7A4UWplD7Chg74">
          <label for="last_name">API Token</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate" value="680955651">
          <label for="last_name">Chat ID</label>
        </div>
      </div>
    </form>
  </div>
</div>